.bg {
  background-color: #496ca1;
  padding: 20px;
  height: 450px;
  text-align: center;
}

.heading,
.description {
  max-width: 600px;
  margin: 0 auto;
}

.heading {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.description {
  font-size: 1.2rem;
}

.prices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: relative;
  top: -260px;
  align-items: center;
}

.update-buttons {
  position: relative;
  top: -280px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.update-button {
  color: black;
  background-color: green;
  border: none;
  width: 15rem;
  text-align: center;
  height: 3rem;
  font-weight: bold;
}

.block{
  padding: 1rem;
}