.container {
  background: #333;
  width: 40rem;
  height: max-content;
  border-radius: 4px;
  margin: 0 auto;
}

.block {
  width: 20rem;
  min-height: 10rem;
  background-color: green;
  border-radius: 4px;
}

.btn {
  margin: 1rem 0;
  background-color: orange;
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
}
